footer {
  background: $primary-clr;
  padding: 5em 0 0 0;

  .footer__logo {
    margin: 0 0 1.5em 0;
    width: 40%;
  }

  .footer__contact img {
    padding: 0 0.8em 0 0;
  }

  .footer__contact p {
    color: #fff;
  }

  .footer__list {
    list-style: none;
    font-family: $primary-font;
    margin: 2em 0 1em 0;

    .footer__item {
      padding: 0.4em 0;
    }
    .footer__link {
      text-decoration: none;
      color: #fff;
      padding: 1em 0;
    }

    .footer__link:focus,
    .footer__link:hover {
      opacity: 80%;
    }
  }

  .social__icons {
    text-align: center;

    svg:not(:root).svg-inline--fa {
      color: #fff;
      margin: 2em 0.6em 0.5em 0.6em;
    }

    svg:not(:root).svg-inline--fa:focus,
    svg:not(:root).svg-inline--fa:hover {
      opacity: 80%;
    }
  }

  .dev {
    font-family: $secondary-font;
    color: $secondary-clr;
    font-size: 12px;

    display: flex;
    justify-content: center;
    padding: 2em 0 0 0;
  }

  .dev--info {
    text-decoration: none;
    color: $lgt-clr;
  }

  .dev--info:hover,
  .dev--info:focus {
    color: $mod-clr;
  }
}

@media (min-width: 992px) {
  footer .footer__list .footer__item {
    padding: 0.8em 0;
  }

  footer .dev {
    padding: 5em 0 0 0;
    font-size: 12px;
  }
}
