.logo {
  width: 40%;
}

.logo img {
  padding: 0.4em 0 0 0;
}

.nav {
  width: 65%;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
}

.nav__item {
  list-style: none;
  padding: 0 0.35em;
  font-size: 15px;
}

.nav__link {
  text-decoration: none;
  letter-spacing: 0.8px;
  font-family: $primary-font;
  transition: all 130ms ease-out;
  color: #000;
}

.nav__link:hover,
.nav__link:focus {
  color: $accent-clr;
}

@media (min-width: 992px) {
  header {
    padding: 2.5em 0 2em 0;
  }

  .nav__item {
    font-size: 18px;
    padding: 0 1em;
  }
}
