// Colors //

$primary-clr: hsl(243, 87%, 12%);
$secondary-clr: hsl(238, 22%, 44%);
$accent-clr: hsl(224, 93%, 58%);
$mod-clr: hsl(170, 45%, 43%);
$neutral-clr: hsl(240, 75%, 98%);
$lgt-clr: hsl(0, 0%, 75%);
$bg-clr: #f4f8fc;
